body {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 150px;
    border-radius: 100%;
}

.card {
    margin: 0 auto;
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding: 20px;
    border-radius: 25px 0 25px 0;
    background-color: #fb8500;
    color: #023047;
    border-bottom: 6px dotted #219ebc;
}

.border-black {
    border: 1px solid black;
}

.avatar:hover  {
  outline: 5px solid #ffb703;
}

.name:hover,
.position:hover,
.location:hover  {
   color: #219ebc;
  }

